@{
    ViewData["Title"] = "Home Page";
}
<section>
    <h2>Kloudless proof of concept</h2>

    <cite>
        Proof of concept is a realization of a certain method or idea to demonstrate its feasibility, or a demonstration in principle, whose purpose is to verify that some concept or theory has the potential of being used.
        A proof of concept is usually small and may or may not be complete.
    </cite>
</section>

<section>
    <h2>Upload</h2>
    <label>
        Project Id
        <input class="project id" type="text" placeholder="00000000-0000-0000-0000-000000000000">
    </label>
    <label>
        Folder Id
        <input class="folder id" type="text" placeholder="00000000-0000-0000-0000-000000000000">
    </label>
    <label>
        File Id
        <input class="file id" type="text" placeholder="00000000-0000-0000-0000-000000000000">
    </label>
    <input class="save external" type="button" value="Save to External Source" />
    <section class="save status"></section>
</section>
